

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.inpt {
  border: 0;
  width: 300px;
}

.desktopButton {
  height: 80px;
  width: 80px;
  pointer-events: all;
}
.buttonMobile{
  height: 5vw;
  width: 15vw;
  pointer-events: all;
}

.iconsize {
  height: 40px;
  width: 40px;
}

.mainForm {
  /* padding-top: 8%; */
  margin-top: 16vh;
}

.navbarbuttons{
  padding-left: 50px;
}



.testing {

  height: 20%;
  width: 98%;
  pointer-events: none;
}

.dButton {
  margin-top: 20px;
}

.urgentAlert {
  background-color: firebrick;
  color: wheat;
}
.tableHead {
  background-color:cadetblue;
  color: wheat;
}

.timestamp {
  float: right;
  font-size: x-small;
  color: cadetblue;
}

.traycard {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}
.roomcard{
  margin-bottom: 10px;
}

.trayLocation {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  color: darkgrey;
}

.moveRight {
  float: right;
}

.smallbox {
  width: 70px;
}

.smallmargin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.strongtext {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}

#offcanvas {

  display: flex;
  align-items: center;
  justify-content: center
}

.authCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.headerL {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10vh;
  color:papayawhip;
  background-color: maroon;
  height: 150px;
}

#pageheader {
  color: bisque;
  font-size: medium;
}

.homepagecard{
  width: 20%;
  height:50%;
  margin: auto;
  
}
.modalsize{
  height: 50vh;
  width: 50vw;
}
